@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

body {
  font-family: 'Dosis', sans-serif;
  margin: 1em;
  color: mediumpurple;
  text-align: center;
  background: url(./assets/LeonardoJulio4-6-2017.jpg);
}


.apodItem {
  background-color: aqua;
  
} 
  